<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Quickstart</title>
</head>
<body style="background-color: #f4efe6; font-family: Georgia, 'Times New Roman', serif; color: #2f2a24;">
    <h1 style="color: #7a3e00;">Welcome to Flask Web Page</h1>
    <p>if you want to learn more, click on the link below.</p>
    <p> 
        <a href="https://flask.palletsprojects.com/en/stable/quickstart/#">
            https://flask.palletsprojects.com/en/stable/quickstart/#
        </a>.
    </p>
</body>
</html>